<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Theaters near you</title>
</head>

<body>
	<h1> Welcome
	<span th:style="'color:' + ${color}"
		  th:text="${username}"></span>!</h1>
		  
		  <h2>Theater around you</h2>

		         <table>
		             <tr>
		  			   <th>THEATER ID</th>
		               <th>ZIPCODE</th>
		  			   <th>CITY</th>
		             </tr>	
					 	<td th:text="${t.id}"></td>
					 	<td th:text="${t.zipcode}"></td>
					 	<td th:text="${t.city}"></td>
		             </tr>
		         </table>

	<a th:href="@{/movies}">Showtimes</a>
</body>
	
</html> 