<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Movie Showing Now</title>
</head>

<body>
	<h1> Welcome
	<span th:text="${username}"></span>!</h1>
		  
	<h2>Movies for today</h2>

	<table style="border: 1px solid; margin: 20px;">
        <tr th:each="m: ${movies}">
           <td>
			   <a th:href="@{'/showtimes?movieId=' + ${m.id}}">
		         <span th:text="${m.name}"></span>
		       </a>
		   </td>
       </tr>
    </table>

	<div style="margin: 20px">
		<a th:href="@{/theater}">Find a Theatre</a>
		<a th:href="@{/tickets}">Book a Ticket</a>
		<a th:href="@{/food}">Food</a>
		<a th:href="@{/drink}">Drink</a>
	</div>
</body>
	
</html>
