<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Select your seats</title>
</head>

<body>
	<h1> Welcome
	<span th:style="'color:' + ${color}"
		  th:text="${username}"></span>!</h1>
		  		  
		  <h2>Seats</h2>

		  	         <table>
		  	             <tr>
		  	                 <th>Seats Avaliable</th>
		  	             </tr>
		  	             <tr th:each="s: ${seats}" >		  	  			
		  	                 <td><a th:href="@{'/orders/' + ${s.id}}"><span th:text="${s.id}"></a></td>
		  	                 <td th:text="${s.number}"></td>
		  	             </tr>
		  	         </table>

	<a th:href="@{/theater}">Find a Theatre</a>
	<a th:href="@{/movies}">See a Movie</a>
	<a th:href="@{/food}">Food</a>
	<a th:href="@{/drink}">Drink</a>
</body>
	
</html>