<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Select the time</title>
</head>

<body>
	<h1> Welcome
	<span th:style="'color:' + ${color}"
		  th:text="${username}"></span>!</h1>
		  		  
		  <h2>Showtimes</h2>

		  <table>
		  		    <tr>
		  			   <th>Movie Name</th>
		  			   <th> Showtime</th>
		  		    </tr>
		  		    <tr th:each="showtime: ${showtimes}" >
		  			   <td th:text="${showtime.movieId}"></td>
		  			   <td th:text="${showtime.showtimes}"></td>
		  		    </tr>
		  		</table>
	<a th:href="@{/theater}">Find a Theatre</a>
	<a th:href="@{/movies}">See a Movie</a>
	<a th:href="@{/food}">Food & Drink</a>
</body>
	
</html>