<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Select the time</title>
</head>

<body>
	<h1> Welcome
	<span th:style="'color:' + ${color}"
		  th:text="${username}"></span>!</h1>
		  		  
		  <h2>Showtimes</h2>

		  <table>					 
					 <table>
						<tr>
						   <th>Movie Name</th>
						   <th>Showtime</th>
						</tr>
					     <tr th:each="show : ${showtimes}">
					         <td th:text="${show.key}"></td>
							 <td>
					         <table>
					             <tr th:each="time : ${show.value}">
								    <td th:text="${#dates.format(time, 'dd-MM-yyyy HH:mm')}"></td>
					             </tr>
					         </table>
							 </td>
					     </tr>
					 </table>
				
				
	<a th:href="@{/theater}">Find a Theatre</a>
	<a th:href="@{/food}">Food</a>
	<a th:href="@{/drink}">Drink</a>
</body>
	
</html>