<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Find a theater near your location</title>
</head>

<body>
	<h1> Welcome
	<span th:style="'color:' + ${color}"
		  th:text="${username}"></span>!</h1>
		  
		  
	<h2>Enter your ZipCode</h2>
	<form action="/findtheaterbyzipcode" method="post">
		   Zipcode: <input 
		     	type="text" 
		     	name="zipcode"><br />    			  
	<button type="submit">Find theater</button>
	</form>

	<h3>View theaters</h3>

	<table>
	    <tr>
		   <th>THEATER ID</th>
	        <th>THEATER ZIPCODE</th>
		   <th>CITY</th>
	    </tr>
	    <tr th:each="theater: ${theaters}" >
		   <td th:text="${theater.id}"></td>
		   <td th:text="${theater.zipcode}"></td>
		   <td th:text="${theater.city}"></td>
	    </tr>
	</table>

	<a th:href="@{/movies}">See a Movie</a>
	<a th:href="@{/food}">Food & Drink</a>
</body>
	
</html>