<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Book A Ticket</title>
</head>

<body>
	<h1> Welcome
	<span th:style="'color:' + ${color}"
		  th:text="${username}"></span>!</h1>
		  		  
		  <h2>View movies</h2>

		  	         <table>
		  	             <tr>
		  	  			   <th>MOVIE ID</th>
		  	                 <th>MOVIE NAME</th>
		  	             </tr>
		  	             <tr th:each="m: ${movies}" >
		  	  			
		  	                 <td><a th:href="@{'/showtimes/' + ${m.id}}"><span th:text="${m.id}"></a></td>
		  	                 <td th:text="${m.name}"></td>
		  	             </tr>
		  	         </table>
					 <form action="/buyTickets" method="post">
					     Quantity: <input type="text" name="quantity" /><br />
						 <input type="hidden" name="showtimeId"  th:value="${showtimeId}" />
					     <button type="submit">Submit Order</button>
					  </form>
	<a th:href="@{/theater}">Find a Theatre</a>
	<a th:href="@{/movies}">See a Movie</a>
	<a th:href="@{/food}">Food</a>
	<a th:href="@{/drink}">Drink</a>
</body>
	
</html>