<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Delete Page</title>
</head>

<body>
	<h1> Delete Cat</h1>

	       <h2>View cats</h2>

	       <table>
	           <tr>
				   <th>CAT ID</th>
	               <th>CAT NAME</th>
				   <th>CAT AGE</th>
	               <th>CAT BREED</th>
				   <th>CAT DESCRIPTION</th>
	           </tr>
	           <tr>
	               <td><span th:text="${deadCat.id}"></td>
	               <td th:text="${deadCat.name}"></td>
				   <td th:text="${deadCat.age}"></td>
				   <td th:text="${deadCat.breed}"></td>
				   <td th:text="${deadCat.description}"></td>
	           </tr>
	       </table>


	<a th:href="@{/cats}">Go to cats</a>
</body>
	
</html>